.Eigenschaften-Image{
  height: 40%;
  display: block;
  margin-left: 300px;
  margin-right: auto;
  width: 40%;
}

.img-circle {
  border-radius: 50%;
  vertical-align: middle;
}


.top-buffer { margin-top:40px; }

.margin-50-top {
  margin-top: 50px;
  } 

  .margin-10-top {
    margin-top: 10px;
    } 

    .margin-300-top {
      margin-top: 300px;
      } 

  .margin-500-top {
    margin-top: 700px;
    } 

  .text-deko{
    text-decoration: none; 
    color: black;
  }

  .position{
    position:fixed;

  }