body {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: sans-serif;
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.slider-text {
  width: 400;
  margin: 50;
}

.margin-20-top {
  margin-top: 20px;
}

.margin-40-top {
  margin-top: 40px;
}

.margin-60-top {
  margin-top: 60px;
}
